<div
  class="dropfile-container"
  [ngClass]="{
    'drop-area-active': isDragging,
    'dropfile-container-dashed': !isButton
  }"
  (dragleave)="onDragLeave($event)"
  (drop)="onFileDrop($event)"
  (dragover)="onDragOver($event)"
>
  <ng-container *ngIf="isButton; else dropAreaWithButton">
    <app-button
      [text]="buttonText"
      icon="fa-file-upload"
      color="primary"
      size="small"
      iconPosition="left"
      [isDisabled]="loading || isDisabled"
      (click)="triggerFileInput()"
    >
      <span>{{ buttonText }}</span>
    </app-button>
    <p class="supported-extensions">Extensiones disponibles: {{ allowedExtensions.length > 0 ? allowedExtensions : 'todas' }}.</p>
  </ng-container>
  <ng-template #dropAreaWithButton>
    <span>Arrastre archivos aquí o haga click en el botón.</span>

    <app-button
      [text]="buttonText"
      icon="fa-file-upload"
      color="primary"
      size="small"
      iconPosition="left"
      [isDisabled]="loading || isDisabled"
      (click)="triggerFileInput()"
    >
      <span>{{ buttonText }}</span>
    </app-button>
    <p class="supported-extensions">Extensiones disponibles: {{ allowedExtensions.length > 0 ? allowedExtensions : 'todas' }}.</p>
  </ng-template>

  <ul
    *ngIf="fileInput && fileInput.files && fileInput.files.length > 0"
    class="list-container"
  >
    <li
      *ngFor="let file of uploadedFiles; let i = index"
      class="item-area"
      [ngClass]="file.progress <= 99 ? 'proccess' : 'finished'"
      (click)="openFileInNewWindow(file)"
    >
      <span class="name-container">
        <span
          class="name"
          title="{{ file.name }}"
          [ngClass]="file.progress <= 99 ? 'proccess' : 'finished'"
        >
          <svg
            *ngIf="file.progress <= 99"
            class="fa-spinner"
            viewBox="0 0 1024 1024"
            focusable="false"
            data-icon="loading"
            width="1em"
            height="1em"
            fill="currentColor"
            aria-hidden="true"
          >
            <path
              d="M988 548c-19.9 0-36-16.1-36-36 0-59.4-11.6-117-34.6-171.3a440.45 440.45 0 00-94.3-139.9 437.71 437.71 0 00-139.9-94.3C629 83.6 571.4 72 512 72c-19.9 0-36-16.1-36-36s16.1-36 36-36c69.1 0 136.2 13.5 199.3 40.3C772.3 66 827 103 874 150c47 47 83.9 101.8 109.7 162.7 26.7 63.1 40.2 130.2 40.2 199.3.1 19.9-16 36-35.9 36z"
            ></path>
          </svg>
          <span *ngIf="file.progress <= 99">{{
            shortenFileName(file.name)
          }}</span>
          <i
            class="fas fa-check"
            *ngIf="file.progress > 99 && isAllowedExtension(file.name)"
          ></i>
          <i
            class="fas fa-times"
            *ngIf="file.progress > 99 && !isAllowedExtension(file.name)"
          ></i>
          <span
            *ngIf="file.progress > 99 && isAllowedExtension(file.name)"
            [ngClass]="
              file.progress > 99 && !isAllowedExtension(file.name)
                ? 'error'
                : ''
            "
            >{{ shortenFileName(file.name) }}</span
          >
        </span>
        <span class="icon trash is-small" (click)="deleteFile(file.id)">
          <i class="fas fa-trash"></i>
        </span>
      </span>
    </li>
  </ul>

  <input
    type="file"
    #fileInput
    (change)="onFileSelected($event)"
    style="display: none"
    multiple
    [accept]="allowedExtensions ? '.' + allowedExtensions.split(',').join(', .') : ''"
  />
</div>
