@import "../abstracts/variables";

.checkbox,
.radio {
  cursor: pointer;
  display: inline-block;
  line-height: 1.25;
  position: relative;
}
.checkbox input,
.radio input {
  cursor: pointer;
  margin-right: 0.3rem;
}
.checkbox:hover,
.radio:hover {
  color: $grey-darker;
}
.checkbox input[disabled],
.checkbox[disabled],
.radio input[disabled],
.radio[disabled],
fieldset[disabled] .checkbox,
fieldset[disabled] .radio {
  color: #7a7a7a;
  cursor: not-allowed;
}
.radio + .radio {
  margin-left: 0.5em;
}
