@import "../abstracts/variables";
@import "../abstracts/animations";

.progress {
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  border-radius: 9999px;
  display: block;
  height: 1rem;
  overflow: hidden;
  padding: 0;
  width: 100%;
}
.progress::-webkit-progress-bar {
  background-color: #ededed;
}
.progress::-webkit-progress-value {
  background-color: #4a4a4a;
}
.progress::-moz-progress-bar {
  background-color: #4a4a4a;
}
.progress::-ms-fill {
  background-color: #4a4a4a;
  border: none;
}
.progress.is-white::-webkit-progress-value {
  background-color: $white;
}
.progress.is-white::-moz-progress-bar {
  background-color: $white;
}
.progress.is-white::-ms-fill {
  background-color: $white;
}
.progress.is-white:indeterminate {
  background-image: linear-gradient(to right, $white 30%, #ededed 30%);
}
.progress.is-black::-webkit-progress-value {
  background-color: $black;
}
.progress.is-black::-moz-progress-bar {
  background-color: $black;
}
.progress.is-black::-ms-fill {
  background-color: $black;
}
.progress.is-black:indeterminate {
  background-image: linear-gradient(to right, $black 30%, #ededed 30%);
}
.progress.is-light::-webkit-progress-value {
  background-color: $white;
}
.progress.is-light::-moz-progress-bar {
  background-color: $white;
}
.progress.is-light::-ms-fill {
  background-color: $white;
}
.progress.is-light:indeterminate {
  background-image: linear-gradient(to right, $white 30%, #ededed 30%);
}
.progress.is-dark::-webkit-progress-value {
  background-color: $grey-darker;
}
.progress.is-dark::-moz-progress-bar {
  background-color: $grey-darker;
}
.progress.is-dark::-ms-fill {
  background-color: $grey-darker;
}
.progress.is-dark:indeterminate {
  background-image: linear-gradient(to right, $grey-darker 30%, #ededed 30%);
}
.progress.is-primary::-webkit-progress-value {
  background-color: $primary;
}
.progress.is-primary::-moz-progress-bar {
  background-color: $primary;
}
.progress.is-primary::-ms-fill {
  background-color: $primary;
}
.progress.is-primary:indeterminate {
  background-image: linear-gradient(to right, $primary 30%, #ededed 30%);
}
.progress.is-link::-webkit-progress-value {
  background-color: $link;
}
.progress.is-link::-moz-progress-bar {
  background-color: $link;
}
.progress.is-link::-ms-fill {
  background-color: $link;
}
.progress.is-link:indeterminate {
  background-image: linear-gradient(to right, $link 30%, #ededed 30%);
}
.progress.is-info::-webkit-progress-value {
  background-color: $info;
}
.progress.is-info::-moz-progress-bar {
  background-color: $info;
}
.progress.is-info::-ms-fill {
  background-color: $info;
}
.progress.is-info:indeterminate {
  background-image: linear-gradient(to right, $info 30%, #ededed 30%);
}
.progress.is-success::-webkit-progress-value {
  background-color: $success;
}
.progress.is-success::-moz-progress-bar {
  background-color: $success;
}
.progress.is-success::-ms-fill {
  background-color: $success;
}
.progress.is-success:indeterminate {
  background-image: linear-gradient(to right, $success 30%, #ededed 30%);
}
.progress.is-warning::-webkit-progress-value {
  background-color: $warning;
}
.progress.is-warning::-moz-progress-bar {
  background-color: $warning;
}
.progress.is-warning::-ms-fill {
  background-color: $warning;
}
.progress.is-warning:indeterminate {
  background-image: linear-gradient(to right, $warning 30%, #ededed 30%);
}
.progress.is-danger::-webkit-progress-value {
  background-color: $danger;
}
.progress.is-danger::-moz-progress-bar {
  background-color: $danger;
}
.progress.is-danger::-ms-fill {
  background-color: $danger;
}
.progress.is-danger:indeterminate {
  background-image: linear-gradient(to right, $danger 30%, #ededed 30%);
}
.progress:indeterminate {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: moveIndeterminate;
  animation-name: moveIndeterminate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  background-color: #ededed;
  background-image: linear-gradient(to right, #4a4a4a 30%, #ededed 30%);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 150% 150%;
}
.progress:indeterminate::-webkit-progress-bar {
  background-color: transparent;
}
.progress:indeterminate::-moz-progress-bar {
  background-color: transparent;
}
.progress:indeterminate::-ms-fill {
  animation-name: none;
}
.progress.is-small {
  height: 0.75rem;
}
.progress.is-medium {
  height: 1.25rem;
}
.progress.is-large {
  height: 1.5rem;
}
